<div id="infobar">
    <section id="section3">
        <div class="col-md-6 posterBar">
            <a href="#" class="list-group-item active image">
                <img ng-src="/dist/assets/posters/poster{{programInfo.key}}.jpg" width="100%" />
            </a>
        </div>
        <div class="col-md-6 descBar">
            <div class="title">
                <div>{{programInfo.Title}}</div>
                <div class="infoCat">{{programInfo.Category}}<span>&nbsp;&#183;&nbsp;</span>{{programInfo.AiringTime}}<span>&nbsp;&#183;&nbsp;</span>{{programInfo.TVRating}}</div>
            </div>
            <div class="description">
                <span class="contentTitle">Sub category:</span> <span class="contentVal">{{programInfo.Subcategory}}</span><br/>
                <span  class="contentTitle">Duration:</span> <span class="contentVal">{{programInfo.Duration}} min</span><br/>
                <span id="hdIcon"><img src="./assets/img/hd_icon.gif"/></span>
            </div>
    </section>


    <section id="section4">
        <div id="tweetWidget">
            <div class="tweetBtn"><button class="btn btn-primary btn-lg btn-block">Tweet</button></div>
            <div class="tweets">
                <div>
                    <marquee>
                        <ul  ng-http-loader ng-show="twits.length > 0">
                            <li data-ng-repeat="(key, value) in twits track by $index">
                                {{value}}
                            </li>
                         </ul>
                    </marquee>
                    <div ng-show="twits.length === 0" class="noTweet">No Tweets Available</div>
                </div>
            </div>
        </div>
    </section>
</div>